[user]
	name = Mads Nedergaard Paulsen
	email = mads@mindway.ai

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	s = status -sb
	co = checkout
	br = branch
	cm = commit -m
	ca = commit --amend
	lg = log --oneline --graph --decorate
	undo = reset --soft HEAD~1
	unstage = reset HEAD --
	sw = switch
	swc = switch -c
	pr = pull --rebase origin
	pom = push origin master
	pob = "!git push origin $(git branch --show-current)"
	recent = branch --sort=-committerdate --format='%(refname:short)'

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true
