/* Catppuccin Mocha theme for waybar */

* {
  font-family: 'JetBrains Mono Nerd Font';
  font-size: 13px;
}

window#waybar {
  background-color: #1e1e2e;
  border-bottom: 3px solid #89b4fa;
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #cdd6f4;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #cdd6f4;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
  color: #cdd6f4;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #cdd6f4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #cdd6f4;
    color: #1e1e2e;
  }
}